.root {
  flex-grow: "1";
}

.menuButton {
  margin-right: 2px;
}

/* .title {
  flex-grow: "1";
  display: none,
  [
    theme.
  ]
} */

.shortParagraph {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mealPropertySheet {
  padding: 16px;
}

.buttonMarginLeft {
  margin-left: 4px;
}

.buttonMarginRight {
  margin-right: 4px;
}

.drag-drop-list-container{
  padding: 1.5rem 1.2rem;
  display: flex;
  align-items: center;
}

.item-card {
  width: 8rem;
  background-color: #fff;
  border: 1px solid#f1f2f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-radius: 0.3rem;
  margin: 0.7rem;
  position: relative;
}

