.root {
  flex-grow: "1";
}

.menuButton {
  margin-right: 2px;
}

/* .title {
  flex-grow: "1";
  display: none,
  [
    theme.
  ]
} */

.shortParagraph {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mealPropertySheet {
  padding: 16px;
}

.buttonMarginLeft {
  margin-left: 4px;
}

.buttonMarginRight {
  margin-right: 4px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  height: 400px;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-column {
  background-color: #f5ffea;
}

.second-column {
  background-color: #fffbf5;
}

.movable-item {
  border-radius: 10px;
  background-color: #fff3f3;
  height: 100px;
  width: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}